:root {
    --cor-de-fundo:rgb(159, 159, 224);
    --cabeçalho-principal: black;
    --cor-da-fonte: white;
}



body{
    background-color: var(--cor-de-fundo);
}

h1{
    color: aliceblue;
}


.cabecalho-titulo {
    font-size: 36px;
    font-weight: 700;
    padding: 12px;
    text-aling: center;
}